<ion-view title="Automovil" hide-back-button="true" id="page2" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="automovil-list3" class=" ">
            <ion-item class="item-divider " id="automovil-list-item-divider2">Tarifas</ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item3">Tarifa Base: $6.50
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item6">Tarifa Minima: $25
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item7">Tarifa por cancelación: $25
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item8">Tarifa de Servicio: 25%
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-divider " id="automovil-list-item-divider3">Requisitos de los Vehiculos</ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item9">Año minimo requerido*: 2007
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item10">4 puertas
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item11">Cinturones de seguridad
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item12">Frenos ABS
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item13">Radio
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item14">Aire acondicionado
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item15">Bolsas de Aire
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item16">Placas del Estado
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item17">Sin vidrios tintados
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right balanced  " id="automovil-list-item18">No importa el color
                <i class="icon ion-android-checkmark-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-divider " id="automovil-list-item-divider4">Autos Aceptados</ion-item>
            <div class="item item-body " id="automovil-list-item-container2">
                <p id="automovil-markdown4" style="margin-top:0px;color:#33CD5F;text-align:justify;" class=" ">Todos los autos que cumplan con las características antes mencionadas, y no se encuentren en la siguiente lista, son aceptados.</p>
            </div>
        </ion-list>
        <div id="automovil-button-bar2" class=" button-bar ">
            <a ui-sref="subenDriver" id="automovil-button4" class=" button button-stable  button-block ">Atras</a>
            <a ui-sref="automovil2" id="automovil-button5" class=" button button-positive  button-block ">Siguiente</a>
        </div>
    </ion-content>
</ion-view>