<ion-view title="Automovil" hide-back-button="true" id="page3" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="automovil2-list4" class=" ">
            <ion-item class="item-divider " id="automovil2-list-item-divider9">Autos NO Aceptados</ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item35">Chevrolet - Matiz
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item36">Chevrolet - Spark
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item37">Chevrolet - Chevy
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item38">Chevrolet - Corsa
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item39">Dodge - Atos
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item40">Dodge - i10 hatchback
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item41">Hyundai - Grand i10 hatchback
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item42">FAW - Cualquier modelo
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item43">Nissan - Tsuru
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item44">VW - Derby
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item45">VW - Pointer
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right assertive  " id="automovil2-list-item46">SMART - Cualquier modelo
                <i class="icon ion-android-remove-circle icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div id="automovil2-button-bar3" class=" button-bar ">
            <a ui-sref="automovil" id="automovil2-button7" class=" button button-stable  button-block ">Atras</a>
        </div>
    </ion-content>
</ion-view>