<ion-view title="Documentos" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <ion-list id="documentos2-list8" class=" ">
            <ion-item class="item-divider " id="documentos2-list-item-divider11">Documentos del Vehiculo Requeridos</ion-item>
            <div class="item item-body " id="documentos2-list-item-container1">
                <p id="documentos2-markdown3" style="margin-top:0px;color:#000000;" class=" ">Tu auto debe ser un modelo 2007 o posterior, cuatro puertas y estar limpio.</p>
            </div>
            <ion-item class="item-icon-right  " id="documentos2-list-item54">Seguro de Auto
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="documentos2-list-item55">Tarjeta de Circulación Vigente
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
        <div id="documentos2-button-bar7" class=" button-bar ">
            <a ui-sref="documentos" id="documentos2-button21" class=" button button-stable  button-block ">Atras</a>
            <button id="documentos2-button22" class=" button button-positive  button-block ">Continuar</button>
        </div>
    </ion-content>
</ion-view>