<ion-view title="Documentos" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <ion-list id="documentos-list7" class=" ">
            <ion-item class="item-divider " id="documentos-list-item-divider10">Documentos Personales Requeridos</ion-item>
            <ion-item class="item-icon-right  " id="documentos-list-item47">Licencia de Conducir
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="documentos-list-item50">Cert. No Antecedentes Penales
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="documentos-list-item51">CURP
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="documentos-list-item52">Identificación Oficial
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
        <div id="documentos-button-bar6" class=" button-bar ">
            <a ui-sref="referencias" id="documentos-button18" class=" button button-stable  button-block ">Atras</a>
            <a ui-sref="documentos2" id="documentos-button19" class=" button button-positive  button-block ">Continuar</a>
        </div>
    </ion-content>
</ion-view>