<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list6" class=" ">
                <label class="item item-input " id="login-input7">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input8">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="referencias" id="login-button13" class=" button button-positive  button-block ">Iniciar Sesión</a>
            <a ui-sref="registro" id="login-button14" class=" button button-positive  button-block button-clear ">Ó Registrate</a>
        </form>
    </ion-content>
</ion-view>