<ion-view title="Referencias" hide-back-button="true" id="page6" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header">
        <form id="referencias-form3" class="list ">
            <p id="referencias-markdown2" style="color:#000000;" class=" ">¿Eres un buen conductor?</p>
            <ion-radio id="referencias-radio2" class=" ">Si</ion-radio>
            <ion-radio id="referencias-radio3" class=" ">No</ion-radio>
        </form>
        <p id="referencias-markdown1" style="color:#000000;" class=" ">¿Qué amigos o familiares piensan que eres un buen conductor? Les preguntaremos por correo electrónico</p>
        <form id="referencias-form4" class="list ">
            <label class="item item-input " id="referencias-input9">
                <input type="email" placeholder="Ingresa el correo electronico de un amigo">
            </label>
            <label class="item item-input " id="referencias-input14">
                <input type="email" placeholder="Ingresa el correo electronico de un amigo">
            </label>
            <label class="item item-input " id="referencias-input15">
                <input type="email" placeholder="Ingresa el correo electronico de un amigo">
            </label>
            <label class="item item-input " id="referencias-input13">
                <input type="email" placeholder="Ingresa el correo electronico de un amigo">
            </label>
        </form>
        <div id="referencias-button-bar5" class=" button-bar ">
            <button id="referencias-button15" class=" button button-stable  button-block ">Omitir</button>
            <a ui-sref="documentos" id="referencias-button16" class=" button button-positive  button-block ">Continuar</a>
        </div>
    </ion-content>
</ion-view>