<ion-view title="Registro" hide-back-button="true" id="page4" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding has-header" scroll="false">
        <form id="registro-form1" class="list ">
            <ion-list id="registro-list5" class=" ">
                <label class="item item-input " id="registro-input1" name="driverName">
                    <span class="input-label">Nombre</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="registro-input4" name="driverLast">
                    <span class="input-label">Apellido</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="registro-input2">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input " id="registro-input3">
                    <span class="input-label">Teléfono</span>
                    <input type="tel" placeholder="">
                </label>
                <label class="item item-input " id="registro-input5">
                    <span class="input-label">Contraseña</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
        </form>
        <div id="registro-button-bar4" class=" button-bar ">
            <a ui-sref="subenDriver" id="registro-button10" class=" button button-stable  button-block ">Atras</a>
            <a ui-sref="subenDriver" id="registro-button11" class=" button button-positive  button-block ">Registrar</a>
        </div>
    </ion-content>
</ion-view>