<ion-view title="Suben Driver" id="page1" class=" ">
    <ion-content padding="false" scroll="false" class="has-header">
        <div class="">
            <img src="img/kfyh5fLDR6wqCno2nKmw_icon.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="subenDriver-button-bar1" class=" button-bar ">
            <a ui-sref="registro" id="subenDriver-button1" style="font-weight:lighter;" class=" button button-positive  button-block ">Registro</a>
            <a ui-sref="login" id="subenDriver-button2" style="font-weight:lighter;" class=" button button-balanced  button-block ">Iniciar</a>
            <a ui-sref="automovil" id="subenDriver-button3" style="font-weight:lighter;" class=" button button-royal  button-block ">Requisitos</a>
        </div>
    </ion-content>
</ion-view>